@font-face {
    font-family: 'LEMONMILK';
    src: url('./assets/fonts/LEMONMILK-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* nav */
  #masthead {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9); /* semi-transparent white */
  }
  
  .anchor-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 16px 0; 
  }
  
  .anchor-nav a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: 'LEMONMILK', sans-serif;
  }
  
  .anchor-nav a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  html,
  body {
    margin: 0; 
    background-image: url('background2.jpeg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow: auto;
  }
  
  header {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
  }
  header ul li:hover .dropdown {
    display: block;
  }
  
  header .logo {
    color: #150938;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li {
    list-style: none;
    margin-left: 20px;
  }
  
  header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(13, 17, 17);
    border-radius: 20px;
  }
  header ul li a:hover,
  header ul li a:active {
    background: azure;
    color: #2b1055;
  }
  .dropdown {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown li {
    list-style: none;
  }
  
  .dropdown li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown li a:hover {
    background-color: #f5ebeb;
  }
  
  body * {
    box-sizing: border-box;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
  }
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
    overflow: hidden;
  }
  
  .section:nth-child(even) {
    background: rgb(255, 255, 255);
  }
  
  .text {
    display: inline-block;
    font-size: 15vmin;
    line-height: 1;
    transform: translateX(-150px);
    color: #ffffff;
    font-family: 'LEMONMILK';
  }
  .text__first,
  .text__second {
    position: relative;
  }
  .text__word {
    opacity: 0;
    font-size: 90px;
  }
  .text__first-bg,
  .text__second-bg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    transform-origin: left;
    transform: scaleX(0);
  }
  .text__first-bg {
    background-color: #083015;
  }
  .text__second-bg {
    background-color: #083015;
  }
  .text__second {
    margin-left: 15vmin;
  }
  
  #about {
    padding: 80px; /* space inside the section */
    font-size: 2vmin; /* reading size */
    line-height: 1.6; /* line height */
    display: flex;
    flex-direction: column; /* stacks children vertically */
    background-color: #ffffff;
  }
  
  .scroll-down {
    position: fixed;
    top: 50%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25vmin;
    color: darken(#000000, 5%);
    font-size: 32px;  
    font-weight: 800;
    transform: translate(-50%, -50%);
  }
  
  .content {
    position: absolute;
    margin-left: 130px;
    left: 1px;
    margin-bottom: 280px;
    z-index: 1;
    max-width: 500px;
    padding: 10px;
    font-size: 2vmin;
  }
  